
@{ ViewData["Title"] = "NoOffer";

}
<!DOCTYPE html>
<html lang="en">

<head>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
</head>
<body class="is-preload">
     
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="index.html">Corporate Classifieds</a>
                    </div>
                </header>
                
                <div style="margin-left:30%">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1> @ViewBag.Msg</h1>
                    <br />
                    <br />
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Offer")">Back To Index</a>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                </div>
            </div>
        </div>
    </div>
</body>
</html>
