
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Corporate Classifieds</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/flex-slider.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-style.css">


</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="index.html">Corporate Classifieds</a>
                    </div>
                </header>


                <h2>You Successfully Liked !</h2><br />
                <a class="btn btn-primary btn-lg" href="@Url.Action("GetOffersList", "Home")">Back To OfferList</a>
                @*<a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Offer")">Back To OfferList</a>*@


            </div>
        </div>
    </div>
    
</body>
</html>